/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

main {
    z-index: 1;
}

/****** Header ***********/
header nav {
    background-color: white;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0;
}

header nav .logo img {
    width: 61.9px;
    height: 19px;
}

header nav .menu {
    display: flex;
    /* gap: 50px; */
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: inline-flex;
}
header nav ul li {
    margin-left: 25px;
}
header nav ul li a {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0px;
    line-height: 18px;
}

header nav ul li a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/****** Form ***********/

header .about .form form {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    background: white;
    width: 350px;
    /* padding: 10px; */
}

header .about .form form .form-icon {
    border: 2px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    padding: 12px;
}

header .about .form form .form-icon i {
    color: black;
}

header .about .form form .form-input input {
    width: 200px;
    /* height: 40px; */
    border: 0;
    outline: none;
    font-size: 17px;
    padding: 12px;
    border-top: 2px solid var(--main-bg-color);
    border-bottom: 2px solid var(--main-bg-color);

}

header .about .form form .form-input input::placeholder {
    font-weight: bold;
    color: black;
}

header .about .form form .form-button button {
    background-color: var(--main-color);
    padding: 15px 16px;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

header .about .form form .form-button .icon_btn {
    display: none;
}

header .about .buttons-filter {
    display: flex;
    margin-bottom: 25px;
}
header .about .buttons-filter .filter-title{
    margin-top: 10px;
}

header .about .buttons-filter .categories {
    display: flex;
    /* width: 100% */
}

header .about .buttons-filter .categories h3 {
    margin-left: 30px;
    border: 2px solid var(--main-bg-color);
    padding: 10px 15px;
    border-radius: 25px;
}

header .about .buttons-filter .categories h3:hover {
    background-color: var(--filter-bg-color);
}

header .about .info i,
header .about .buttons-filter a i {
    margin-right: 5px;
    color: var(--main-color);
}
/* header .about .info .fa-info{
    padding: 5px 10px;
    border: 2px solid var(--main-bg-color);
    border-radius: 50%;
} */
header .about .info .fa-info{
    padding: 9px 13px;
    border: 2px solid var(--main-bg-color);
    border-radius: 50%;
    font-size: 13px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h3 {
    cursor: pointer;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergements-cards a {
    width: calc(100% / 3 - 15px);
    margin-top: 33px;

}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin-top: 10px;
    margin-bottom: -2px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;

}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.about-title,
.activites-title,
.hebergements-title,
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/
.activites {
    width: 100%;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-top: 20px;

}

.activites-cards a {
    width: calc(100% / 4 - 15px);

}

.activites-cards img {
    width: 100%;
    height: 350px;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
    width: 100%;
    height: auto;
    padding-left: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.activites-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.activites-cards .card {
    /* background-color: var(--main-bg-color); */
    border: 2px solid var(--main-bg-color);
    border-radius: 20px;
    padding: 0px 0px 5px 0px;
    filter: none;

}



/****** Footer ***********/
footer {
    width: 97%;
    margin-top: 50px;
    background-color: var(--main-bg-color);
    padding: 20px;
    bottom: 0;
}

footer .footer {
    display: flex;
    justify-content: space-between;

}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /******************** header *****************/
    /* header nav .logo img{
        width: 80px;
    } */
    header .about .buttons-filter {
        display: block;
        margin-bottom: 15px;
    }

    header .about .buttons-filter .categories h3 {
        font-size: 14px;
    }

    header .about .buttons-filter .categories h3:nth-child(1) {
        margin-left: 0px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards .card-content {
        height: 50px;
        display: flex;
        align-items: center;

    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .card {
        filter: none;
        border: 1px solid var(--main-bg-color);
        padding: 0px 0px 5px 0px;
    }
    header nav {
        margin-bottom: 60px;
    }

    header nav .menu {
        flex-direction: column;
        /* padding-bottom: 50px; */
        border-bottom: 2px solid var(--main-bg-color);
    }

    header nav .logo {
        margin-top: 10px;
        text-align: center;
    }
    header nav ul {
        display: flex;
        justify-content: space-between;

    }
    header nav ul li {
        margin-left: 0px;
    }
    header nav ul li:nth-child(1){
        margin-left: -35px;
    }

    header nav ul li a {
        padding: 16px 30px;

    }

    header nav ul li:hover a {
        color: var(--main-color);
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }
    header .about .form form {
        width: 100%;
    }
    header .about .form form .form-input input {
        width: 270px;
    }

    header .about .form form .form-button button {
        border-radius: 15px;
        padding: 15px;
    }

    header .about .form form .form-button .icon_btn {
        display: block;
    }

    header .about .form form .form-button .icon_btn i {
        color: white;
        font-size: 17px;
    }

    header .about .form form .form-button .search_btn {
        display: none;
    }

    header .about .buttons-filter .categories {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    
    header .about .buttons-filter .categories h3 {
        margin-left: 0px;
        width: calc(42% - 10px);
    }

    header .about .info p{
        display: flex;
    }
    /* header .about .info p i{
        /* margin-top: 10px; 
        padding: 8px 12px;
    } */
    header .about .info .fa-info{
        padding: 9px 14px;
        border: 2px solid var(--main-bg-color);
        border-radius: 50%;
        font-size: 13px;
    }
    header .about .info p span{
        margin-left: 5px;
    }
    
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        padding: 0px;
    }

    section.hebergements {
        background: white;

    }

    section.populaires {
        border-radius: 0;
        /* max-width: 900px; */
        width: 100%;
        padding: 20px;
        height: 100vh;
        margin-bottom: 20px;
    }

    section.populaire .populaires-cards {
        padding: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards {
        display: block;

    }

    .hebergements-cards a {
        width: 100%;
        padding-top: 10px;

    }

    .hebergements-cards .card {
        margin-top: 23px;

    }

    footer .footer,
    .activites-cards,
    .populaires-cards {
        display: block;
    }

    .activites-cards img {
        width: 100%;
        height: 136px;
    }

    .activites-cards .card {
        margin-top: 20px;

    }

    footer .footer .section-card:nth-child(1) {
        margin-top: 0px;
    }

    footer .footer .section-card {
        margin-top: 60px;
    }
}


@media only screen and (max-width: 457px) and (min-width: 424px) {
    header .about .form form .form-input input {
        width: 200px;
        font-size: 14px;
        padding: 17px;
    }
    header .about .form form .form-button button {
        border-radius: 15px;
        padding: 18px;

    }
    section.populaires {
        height: 110vh;
    }
    header .about .form form .form-input input::placeholder {
        font-weight: bold;
        font-size: 15px;
        color: black;
    }
    header .about .info .fa-info{
        padding: 9px 14px;
        border: 2px solid var(--main-bg-color);
        border-radius: 50%;
        font-size: 13px;
    }
    header .about .info p span{
        margin-left: 5px;
    }
}
@media only screen and (max-width: 423px) and (min-width: 320px) {
    .section-title {
        margin: 0;
        font-size: 15px;
    }
    .card-subtitle{
        font-size: 12px;
    }
    .card-title {
        font-size: 12px;
    }
    .card {
        filter: none;
        border: 1px solid var(--main-bg-color);
        padding: 0px 0px 5px 0px;
    }
    header nav {
        margin-bottom: 60px;
    }

    header nav .menu {
        flex-direction: column;
        /* padding-bottom: 50px; */
        border-bottom: 2px solid var(--main-bg-color);
    }

    header nav .logo {
        margin-top: 10px;
        text-align: center;
    }
    header nav ul {
        display: flex;
        justify-content: space-between;

    }
    header nav ul li {
        margin-left: 0px;
    }
    header nav ul li:nth-child(1){
        margin-left: -35px;
    }

    header nav ul li a {
        padding: 14px 10px;
        font-size: 12px;
    }

    header nav ul li:hover a {
        color: var(--main-color);
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }
    header .about .form form {
        width: 100%;
    }
    header .about .form form .form-input input {
        width: 120px;
        font-size: 14px;
        padding: 10px;
    }
    header .about .form form .form-input input::placeholder {
        /* font-weight: bold; */
        font-size: 12px;
        color: black;
    }

    header .about .form form .form-button button {
        border-radius: 15px;
        padding: 12px 14px;

    }
    header .about .form form .form-icon {
        padding: 9px;
    }

    header .about .form form .form-button .icon_btn {
        display: block;
    }

    header .about .form form .form-button .icon_btn i {
        color: white;
        font-size: 12px;
    }

    header .about .form form .form-button .search_btn {
        display: none;
    }

    header .about .buttons-filter .categories {
        display: flex;
        flex-wrap: wrap;
        width: 110%;
        justify-content: space-between;
    }
    
    header .about .buttons-filter .categories h3 {
        margin-left: 0px;
        width: calc(32% - 10px);

    }
    header .about .buttons-filter .categories h3.card-title a{
        
    }
    header .about .buttons-filter .categories h3.card-title{
        /* font-size: 11px; */
        padding: 5px 20px;
        font-size: 7px;
    }

    header .about .info p{
        display: flex;
    }
    header .about .info .fa-info{
        padding: 9px 14px;
        border: 2px solid var(--main-bg-color);
        border-radius: 50%;
        font-size: 13px;
    }
    header .about .info p span{
        margin-left: 5px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        padding: 0px;
    }

    section.hebergements {
        background: white;

    }

    section.populaires {
        border-radius: 0;
        /* max-width: 900px; */
        width: 100%;
        padding: 20px;
        height: 105vh;
        margin-bottom: 20px;
    }

    section.populaire .populaires-cards {
        padding: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards {
        display: block;

    }

    .hebergements-cards a {
        width: 100%;
        padding-top: 10px;

    }

    .hebergements-cards .card {
        margin-top: 23px;

    }

    .populaires-cards .card-title {
        font-size: 12px;
    }
    footer .footer,
    .activites-cards,
    .populaires-cards {
        display: block;
    }

    .activites-cards img {
        width: 100%;
        height: 136px;
    }

    .activites-cards .card {
        margin-top: 20px;

    }

    footer .footer .section-card:nth-child(1) {
        margin-top: 0px;
    }

    footer .footer .section-card {
        margin-top: 60px;
    }
    
}